streamlit
langchain
langchain-community
faiss-cpu
pdfminer.six
unstructured
pypdf
pi_heif
onnx
pdf2image
pikepdf
pi_heif
pypdf
google-cloud-vision
effdet
# Do not move to constraints.in, otherwise unstructured-inference will not be upgraded
# when unstructured library is.
unstructured-inference
unstructured.pytesseract